<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="flipbook.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- Static content MIME types -->
    <staticContent>
      <remove fileExtension=".pdf" />
      <remove fileExtension=".json" />
      <remove fileExtension=".js" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    
    <!-- Enable service worker -->
    <httpProtocol>
      <customHeaders>
        <add name="Service-Worker-Allowed" value="/" />
      </customHeaders>
    </httpProtocol>
    
    <!-- URL Rewrite rules -->
    <rewrite>
      <rules>
        <!-- Allow service worker -->
        <rule name="ServiceWorker" stopProcessing="true">
          <match url="^sw.js$" />
          <action type="Rewrite" url="sw.js" />
        </rule>
        
        <!-- Redirect root to flipbook.html -->
        <rule name="RootToFlipbook" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="flipbook.html" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Cache control -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
